.header_style{
    background-color: white;
    color: black;
}
.icon_style{
    font-size: 20px;
    margin-left:5px;
    color: gray;
}
.Chaticon_style{
    font-size: 15px;
    margin-left:5px;
    color: gray;
}
.style_btn::hover{
    background-color:transparent;
}
.search_style{
    background-color: rgb(224, 218, 218);
}